.tag-container {
  border-bottom: 3px solid #ddd;
  padding: 5px;
}

ion-chip {
  margin-left: 4px !important;
}

.search-button {
  height: 25px;
  margin-top:2px!important;
  padding-left:15px;
  padding-right:15px;
}
